<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Auto Image</title>

        <!-- Icon css link -->
        <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
        <link href="vendors/elegant-icon/style.css" rel="stylesheet">
        <link href="vendors/themify-icon/themify-icons.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

        <!-- Rev slider css -->
        <link href="vendors/revolution/css/settings.css" rel="stylesheet">
        <link href="vendors/revolution/css/layers.css" rel="stylesheet">
        <link href="vendors/revolution/css/navigation.css" rel="stylesheet">
        <link href="vendors/animate-css/animate.css" rel="stylesheet">

        <!-- Extra plugin css -->
        <link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">

        <link href="stylesheets/style.css" rel="stylesheet">
        <link href="stylesheets/responsive.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <!--================Search Area =================-->
        <section class="search_area">
            <div class="search_inner">
                <input type="text" placeholder="Enter Your Search...">
                <i class="ti-close"></i>
            </div>
        </section>
        <!--================End Search Area =================-->

        <!--================Header Menu Area =================-->
        <header class="main_menu_area">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/"><img src="images/logo.jpg" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                        <li class="nav-item"><a  href="static.html">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/quote">Quote</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--================End Header Menu Area =================-->
       <section class="main_slider_area">
            <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
                <ul>
                    <li data-index="rs-2946" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                        <img src="images/home-slider/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">

                            <!-- LAYER NR. 10 -->
                         
                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption Agency-CloseBtn rev-btn "
                            id="slide-2971-layer-20"
                            data-x="['center','center','center','center']" data-hoffset="['510','389','270','199']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-298','-229','-163','-118']"
                            data-width="50"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="button"
                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-20","delay":""}]'
                            data-responsive_offset="on"
                            data-responsive="off"
                            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:45deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
                            data-textAlign="['center','center','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            data-lasttriggerstate="reset"
                            style="z-index: 15; min-width: 50px; max-width: 50px; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;font-size: 24px;"><i class="fa fa-close"></i> </div>

                            <div class="tp-caption tp-resizeme secand_text"
                                data-x="['center','center','center','center','center','center']"
                                data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']"
                                data-voffset="['0','0','0','0','0']"
                                data-fontsize="['48','48','48','28','28','22']"
                                data-lineheight="['60','60','60','36','36','30']"
                                data-width="100%"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text"
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['center','center','center','center','center','center']"

                                style="z-index: 8;font-family:'Poppins', sans-serif;font-weight:700;color:#fff;">Services
                            </div>

                            <div class="tp-caption tp-resizeme slider_button"
                                data-x="['center','center','center','center','center','center']"
                                data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']"
                                data-voffset="['130','130','130','100','100','100']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-type="text"
                                data-responsive_offset="on"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['center','center','center','center','center','center']">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="latest_news_area p_100">
            <div class="container">
                <div class="row service_item_inner">
                    <div class="col-lg-5">
                        <div class="service_item windowtinthead">
                            <h4>Window Tinting</h4>
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-5">
                        <div class="service_item paintprotectionhead">
                            <h4>Paint Protection</h4>
                        </div>
                    </div>
                </div>
                <div class="window-tint">
                	<br><br>
                	<div class="b_center_title">
	                  <h2>Window Tinting</h2>
	              	</div>
	              	<div >
	              		<h4>WHY TINT YOUR CAR WINDOWS?</h4><br>
	              		<p>You spend a lot of time on the road, driving to work, waiting in traffic, cruising on hot summer days and taking road trips. The warm California sun poses a danger to ourselves, our loved ones and our vehicles. UV rays can be damaging to your skin and your vehicles interior. Think about it - we surround ourselves with safety gear, like air bags, seat beats and anti lock brakes. Yet leave yourself, your loved ones and the interior of your car exposed to the sun's damaging UV rays.</p> <br>
	              		<p>Benefits of window tinting include:</p>
	              		<p>• Heat rejection</p>
	              		<p>• Blocks out 99% of harmful UV rays</p>
	              		<p>• Reduces glare</p>
	              		<p>• Reduces interior fading</p>
	              		<p>• Enhances the appearance of your vehicle</p>
	              		<p>• Window film can help hold together shattered glass in accidents</p> <br>
	              		<p>Find the tint that's right for you</p> <br>
	              		<p>
	              			<img src="images/tints.jpg">
	              		</p><br>
	              		<p>DISCLAIMER: The law on auto tint varies by state. Please to go to the International Window Film Association to check your state's laws or ask us about films approved for use on vehicles.</p><br>
	              		<h4>WINDOW TINT FILMS</h4><br>
	              		<p>We are authorized dealers for Suntek Carbon,CXP and Llumar CTX Ceramatrix films. Our film grades range from good, better and best based on their optical clarity, lifetime warranty and the materials used to process the film. We also carry Llumar Air Blue 80%, which is a very light to clear film primarily used to block out UV rays and are commonly installed on the front windows.</p><br>
	              		<h5>Suntek Carbon</h5>
	              		<p>SunTek's Carbon line of films provides superior results for customers looking for quality and performance. </p><br>
	              		<p>• A proprietary construction that utilizes unique and innovative Carbon technology </p>
	              		<p>• Non-reflective, "black" finish that will not fade </p>
	              		<p>• Great solar performance with advanced UV protection </p>
	              		<p>• No metal layers that can cause interference with cell phone, radio, or navigation system signals on high-end vehicles</p>
	              		<p>• Lifetime Manufacturer's Warranty, that includes fading </p><br>
	              		<h4>HIGH HEAT REJECTION FILMS</h4><br>
	              		<h5>Suntek CXP</h5>
	              		<p>A next generation window film, offering enhanced performance for high heat rejection films. </p><br>
	              		<p>• The latest in non-metal, nano-hybrid, Carbon technology </p>
	              		<p>• Non-reflective, "black" finish that will not fade </p>
	              		<p>• Superior heat, infrared, and UV rejection for increased comfort </p>
	              		<p>• Signal enabling technology that causes no interference with cell phone, radio, or navigation system signals </p>
	              		<p>• Lifetime Manufacturer's warranty, that includes fading</p><br>
	              		<h5>LLumar CTX Ceramatrix</h5>
	              		<p>LLumar CTX Films utilize Ceramatrix™ Advanced Technology to provide superior UV absorption and heat rejection without blocking electronic signal transmissions.</p><br>
	              		<h4>CLEAR HIGH HEAT REJECTION FILMS</h4><br>
	              		<h5>LLumar Air Blue</h5>
	              		<p>The new LLumar 80% AIR Blue Nono-Ceramic films is terrific for windshields; being almost clear with great night time visibility and blocking 99% UV rays and 43% solar heat. This is the number one "add-on" you need for your car to achieve ultimate comfort.</p>
	              	</div>
                </div>
                <div class="paint-protection" style="display: none">
                	<br><br>
                	<div class="b_center_title">
	                  <h2>Paint Protection</h2>
	              	</div>
	              	<div >
	              		<h4>PAINT PROTECTION FILMS</h4><br>
	              		<h5>Suntek PPF</h5>
	              		<p>We know how you feel about your new vehicle. It's your baby, you want it to look great as long as you can. Getting a rock chip on your new car can be frustrating. Install Suntek Paint Protection Film on ANY part of your vehicle's painted surfaces. When you install Suntek on your vehicle, you will help protect it from: </p> <br>
	              		<p>• Rock chips </p>
	              		<p>• Paint damage from bugs and bird droppings </p>
	              		<p>• Sand abrasion </p>
	              		<p>• Scratches</p><br>
	              		<p>Sometimes referred to as "clear bra," "clear armor," "clear shield" or similar and often offered by car dealers. However, we offer the same services at much lower prices. Installations are done on site with no middle man to jack up the prices. Suntek can be professionally installed on any painted surfaces such as the bumper, fender, rocker panels, mirror backs, full hoods, rear bumpers and more.
	              		</p><br>
	              	</div>
                </div>
              	
            </div>
        </section>
      
        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="footer_widgets_area">
                <div class="container">
                    <div class="f_widgets_inner row">
                        <div class="col-lg-3 col-md-6">
                            <aside class="f_widget subscribe_widget">
                                <div class="f_w_title">
                                    <h3>Our Newsletter</h3>
                                </div>
                                <ul>
                                    <li><a href="https://www.yelp.com/biz/auto-image-window-tinting-belmont?osq=auto+image" target="_blank"><i class="fa fa-yelp"></i></a></li>
                                    <li><a href="https://www.instagram.com/autoimagetint/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <aside class="f_widget categories_widget">
                                <div class="f_w_title">
                                    <h3>Link Categories</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Agency</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Studio</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Studio</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Blogs</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Shop</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Home</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>About</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Services</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Work</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Privacy</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <aside class="f_widget contact_widget">
                                <div class="f_w_title">
                                    <h3>Contact Us</h3>
                                </div>
                                <p>Phone: (650) 631-0559</p>
                                <p>Email: autoimage184@yahoo.com</p>
                                <a href="https://www.google.com/maps/place/Auto+Image/@37.528943,-122.2881764,17z/data=!3m1!4b1!4m5!3m4!1s0x808f9f3e4dea21cb:0xd2503fe6a32033f6!8m2!3d37.5289388!4d-122.2859877" target="_blank">188 Old County Rd. Belmont, CA 94002</a>
                                <h6>Open hours:</h6>
                                <h6>Mon, Weds-Fri: 9-5:30pm</h6>
                                <h6>Sat: 10-5pm</h6>
                                <h6>Sunday and Tuesday: CLOSED</h6>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->




        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="javascripts/jquery-3.2.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="javascripts/popper.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <!-- Extra plugin css -->
        <script src="vendors/counterup/jquery.waypoints.min.js"></script>
        <script src="vendors/counterup/jquery.counterup.min.js"></script>
        <script src="vendors/counterup/apear.js"></script>
        <script src="vendors/counterup/countto.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/parallaxer/jquery.parallax-1.1.3.js"></script>

        <script src="javascripts/theme.js"></script>
    </body>
</html>
